body{
    background-color: lightblue;
}

h1 {
    font-family: fantasy;
    color: navy;
    text-align: center;

}

ul {
    list-style-type: circle;
    background-color: darkorange;
    text-align: center;
}

li {
    background-color: aliceblue;
    text-align: left ;
}

a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkorange;
    font-weight: 700;
}