body {
    background-color: lightblue;
    margin: 0 auto;
}

p {
    text-align: center;
}

h1, h2 {
    font-family: fantasy;
    color: navy;
    text-align: center;
    
}

.main-list {
    list-style-type: none;
    background-color: darkgrey;
    padding: 10px 20px;
    border-left: 15px solid red;
    border-bottom: 15px solid yellow;
    border-radius: 25px 75px;
    margin :0 20%;
}
.main-list li{
    border-radius: 25px 75px 10px;
    background-color: red;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

.main-list a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: 700;
}

.ingredient-list {
    list-style-type: circle;
    background-color: darkorange;
}

img {
    height: auto;
    width: 300px;
}

.directions {
    
    list-style-type: cjk-ideographic;
    background-color: darkorange;
    text-align: center;   
}